<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur5_robotiq" >

  <xacro:property name="pi" value="3.141592"/>
  <xacro:property name="deck_height" value="0.280" />
  <xacro:property name="ur5_robot_prefix" value=""/>
  <xacro:property name="robotiq_3f_gripper" value=""/>

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />

  <!-- arm -->
  <xacro:ur5_robot prefix="${ur5_robot_prefix}" joint_limited="false"/>

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "${ur5_robot_prefix}base_link" />
    <origin xyz="0.21 0.0 ${deck_height}" rpy="0.0 0.0 -${pi/4}" />
  </joint>

  <!-- robotiq -->
  <xacro:include filename="$(find robotiq_3f_gripper_visualization)/cfg/robotiq-3f-gripper_articulated_macro.xacro" />
  
  <!-- gripper -->
  <xacro:robotiq-3f-gripper_articulated prefix="${robotiq_3f_gripper}"/>

  <joint name="${ur5_robot_prefix}tool0_${robotiq_3f_gripper}palm" type="fixed">
    <!-- <parent link="${ur5_robot_prefix}tool0" />-->
    <parent link="${ur5_robot_prefix}tool0" />
    <child link = "${robotiq_3f_gripper}palm" />
    <origin xyz="0.0 0.0 0.035" rpy="${pi/2} 0.0 -${pi/4}" />
  </joint>  

  <!-- gripper endeffector: tool1-->

</robot>
